# Environments
.env
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
build/
dist/

# Node modules
node_modules/

# OS-specific
.DS_Store
Thumbs.db
